<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<h1>Edit Category</h1>
<form action="#" th:action="@{/categories/edit/{id}(id=${category.id})}" method="post">
    <input type="hidden" th:field="${category.id}">
    <label>Name:</label>
    <input type="text" th:field="${category.name}">
    <label>Description:</label>
    <input type="text" th:field="${category.description}">
    <button type="submit">Save</button>
</form>
</body>
</html>